body {
    margin: 0;
    padding: 0'
}

.container {
    height: 69%;
    width: 50%;
    border: black 1px solid;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pad-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.control-container {
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.pad {
    margin: 10px;
    margin-bottom: 0px;

    border-radius: 10px;
}